# Created by .ignore support plugin (hsz.mobi)
/venv/
.idea
apps/course/__pycache__/
apps/course/migrations/__pycache__/
apps/operation/__pycache__/
apps/operation/migrations/__pycache__/
apps/organization/__pycache__/
apps/organization/migrations/__pycache__/
apps/users/__pycache__/
apps/users/migrations/__pycache__/
image/
mxonline/__pycache__/
